#gitignore file

#http://blog.mitemitreski.com/2012/06/git-ignore-for-javajvm-projects.html
*target*
*.jar
*.war
*.ear
*.class

# eclipse specific git ignore
*.pydevproject
.project
.metadata
bin/*
tmp/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
build.xml
build_TEST.xml

/build.log
/StartServer.txt
/StopServer.txt
/lib
*.zip
/RemoteSystemsTempFiles
test-output/

*.iml
.idea/

/target/
/StopHub.txt
/StopNode.txt

/testng*.xml

